# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hejar\OneDrive\Bureau\ESGI\Reporting et restitution (S2)\PROJET\Analyse_monovarie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
